@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');

  *{
  margin-bottom:0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  scroll-padding-top: 1rem;
  scroll-behavior: smooth;
  list-style: none;
  text-decoration: none;
  margin: auto;
} 
img{
  width:100%;
} 
body{
 background:rgb(20, 16, 16);
 color:white;
}
.container
{
 width:100%;
 margin-left:auto;
 margin-right:auto;
 margin: auto;
}
header{
  display: block;
  width:100%;
  margin: auto;
  top:0;
  left:50;
  z-index: 100;
}
.nav{
display:flex;
align-items:center;
justify-content: space-between;
padding: 20px 15px;
}
.logo
{
 font-size: 30px;
 color:white;
 text-decoration: none;
 font-weight: 500px;
 left:50px;

}
.navbar
{
display:flex;
column-gap: 2rem;
}
.navbar li a 
{

font-size: 1rem;
color:white;
text-transform: uppercase;
font-weight: 500;

}
.navbar a:hover
{
 color: rgb(229, 129, 14);
 font-size: 20px;
 border-bottom: 3px solid rgb(229, 129, 14);
}
.navbar a:hover .active{
  opacity:.6;
}
 .social-media
{
 display: flex;
 justify-content: space-between;
 width: 150px;
 height:40px;
 columns: rgb(20, 16, 16);
}
.social-media 
{
 align-items: center;
justify-content: center;
 width: 40px;
 height: 40px;
 background: transparent;
 text-decoration: none;
 transition: .5s;
 text-decoration: none;
 
}

 .social-media a:hover
{
 border-color: rgb(20, 16, 16);
 
}
.social-media a i
{
 font-size: 24px;
 color: #ffff;
 
} 
.home
{
 position: relative;
 width:100%;
 height:100vh;
 margin: auto;
 display:flex;
 align-items: center;
 background: url(/Assets/mycar-removebg-preview.png);
 background-repeat: no-repeat;
 background-position: center right;
}
.home-content
{
  margin-top: 150px;
 padding-left: 30px;
 
}
.home-content h2{
 color:rgb(229, 129, 14);
 font-size: 35px;
 
}
.home-content h1
{
 color: #ffff;
 font-size: 50px;
 line-height: 1.2;

}
.home-content h3
{
  margin-top: 8px;
 font-size: 40px;
 color:#ffff;
 margin-bottom: 5px;
}
.home-content p
{
 width:500px;
 color:#ffff;
 font-family: 'Montserrat';
 font-size: 16px;
 margin-bottom: 20px;
}
.btn
{
 padding: 10px 28px;
 background: rgb(229, 129, 14);
 border:2px solid rgb(229, 129, 14);
 border-radius: 6px;
 box-shadow: 0 0 10px rgba(0,0,.5,.5);
 font-size: 16px;
 color:rgb(20, 16, 16);
 letter-spacing: 1px;
 text-decoration: none;
 font-weight: 600;
 margin: auto;
 transition: .5s;
 margin-top: 20px;
 
}
.btn:hover{
 color:rgb(229, 129, 14);
 background:transparent;

}

.home .rhombus2
{
 margin: auto;
 height:650px;
 width:500px;
 position:top right;
 background:rgb(229, 129, 14);
 transform: rotate(45deg);
 z-index:-1;
 box-shadow: -15px 15px 15px rgba(0,0,0,.4);
}

.dropdown-content {
  display: none;
  color: orange;
  position: absolute;
  background-color: rgb(20, 16, 16);
  min-width: 160px;
  
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a  {
  color: rgb(229, 129, 14);
  padding: 20px 80px;
  text-decoration: none;
  display: block;
  background-size: cover;
  align-items: center;
}

.dropdown-content a:hover
 {
  background-color:rgb(229, 129, 14) ; 
  color:black;
}

.dropdown:hover .dropdown-content {
  display: block;
 
}
.footer
{

  background-color: black;
  color:#ffff;
  border-top:2px solid black;
}
.footer-container
{
  display:flex;
  justify-content: space-between;
  gap:1rem;
}
.footer-container .LOGO{
  color:#ffff;
  margin-bottom: 1rem;
}
.footer-container .footer-box
{
  display:flex;
  flex-direction: column;
}
.footer_logo
{
  display:flex;
  align-items:center;
}
.footer_logo a{
  font-size: 24px;
  color:#ffff;
  margin-right:1rem;
}
.footer_logo a:hover{
  color:var(--main-color);
}
.footer-box h3
{
  font-size:1.1rem;
  font-weight:400;
  margin-bottom: 1rem;
  margin-right: 1rem;
}
.footer-box a,
.footer-box p
{
  color: #ffff;
  margin-bottom: 10px;
}
.copyright
{
  padding: 20px;
  color:#ffff;
  background-color: black;
  text-align: center;
}
.Logo{
 height: 80px;
 width: 180px; 
}
.img-container
{
  float:left;
  width: 10.75%;
  padding:5px;
}
.img-container.img:hover
{
  height:200px;
  width:200px;
}
.clearfix::after{
  content:"";
  clear:both;
  display:table;
}
.back
{
  background-image: url('Background_main.jpg');
}