{% load static  %}
{% static "images" as baseUrl %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="{% static 'style1.css' %}">
  <link href="{% static 'https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' %}" rel='stylesheet'>
  <link rel="stylesheet" type="text/css" href="{% static 'https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.css' %} ">
  <link rel="stylesheet" type="text/css" href="{% static 'https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css' %}">
  <style>
    .home
  {
 position:relative;
 width:100%;
 height:100%;
 margin: auto;
 display:flex;
 align-items: center;
 background-image: url("{% static 'img/mycar-removebg-preview.png' %}");
 background-size: 50%;
 background-repeat: no-repeat;
 background-position: center right;
  }
  </style>
</head>
<body>
  <section class="head" id="head">
  <header>
  <section>
 <div class="nav container">
  <a><img href="#" class="Logo" src="{% static 'img/whiteLogo.png' %}"></a>
    <ul class="navbar">
    <li><a href="#" class="active">Home</a></li>
    <li><a href="#">About</a></li>

    {% if user.is_authenticated %}
    <li>Hello , {{user.username}}</li>
    <li><a href="accounts/logout">Logout</a></li>
    {% else %}
    <li><a href="accounts/register">Register</a></li>
    <li><a href="accounts/login">Login</a></li>
    {% endif %}
   <li> <a href="#">Contact</a></li>
  </ul>
  <div class="social-media">
    <div class="dropdown">
      <a href="#" ><i class='bx bxs-user'></i></a>
      <div class="dropdown-content">
         <a href="#" >Your Profile</a>
         <a href="#" >Updates</a>
         <a href="Login.html">Login</a>
         <a href="#">Log-Out</a>
      </div>
  </div>
</div>
</div>
</section>
</header>
 <section class="home">
  <div class="home-content">
    <h2>Wel-come to</h2>
    <h1><b>GaadiDekho.com</b></h1>
    <h3>Redefined!</h3> 
    <p>Car is a four-wheeled motor vehicle designed for transportation. 
      It offers individuals a convenient and efficient means of travel, 
      enabling them to reach their destinations quickly and comfortably. 
      With various models available, cars come equipped with different 
      features, making them suitable for diverse lifestyles and preferences.
    </p>
    <a href="secondpage.html" class="btn" >Explore Cars</a><i class="fa fa-arrow-circle-o-right"></i>
    </div>
    <div class="rhombus2"> </div>
 </section>
</section>
 <section class="cars" id="cars">
   <div class="heading">
    <span>Dream Cars</span>
    <h2>Choose your Dream</h2>
    <p>We are helping you to Fullfil your Dream</p>
   </div>
   {% comment %} <div class="cars-container container">
    <div class="box">
    <img src="{% static 'img/HyundaiNEW.jpg' %}">
    <h2>View Car</h2>
   </div>
   
   <div class="box">
    <img src="{% static 'img/BMW_car.jpg' %}">
    <h2>View Car</h2>
   </div>
   <!-- <div class="box">
    <img src="Assets/Car1.jpeg %}">
    <h2>View Car</h2>
   </div>-->
   <div class="box">
    <img src="{% static 'img/Mustang.jpg' %}">
    <h2>View Car</h2>
   </div>

   <div class="box">
    <img src="{% static 'img/kia_car.jpg' %}">
    <h2>View Car</h2>
   </div>

   <div class="box">
    <img src="{% static 'img/Chervolet.jpg' %}">
    <h2>View Car</h2>
   </div>
 {% endcomment %}

   {% for car in cars %}
            <div class="cars-container container">
              <div class="box">
                <img src="{{car.img.url}}">
              <h2>View Car</h2>
             </div>
            </div>
		{% endfor %}


  </div>
 </section>


  <footer class="footer">
    <div class="footer-container">
      <div class="row">
        <div class="footer-col">
          <h4>company</h4>
          <ul>
            <li><a href="#">about us</a></li>
            <li><a href="#">our Services</a></li>
            <li><a href="#">Privacy policy</a></li>
            <li><a href="#">affiliate program</a></li>
          </ul>
        </div>
        <div class="footer-col">
          <h4>get help</h4>
          <ul>
            <li><a href="#">FAQ</a></li>
            <li><a href="#">shiping</a></li>
            <li><a href="#">order status</a></li>
            <li><a href="#">payment option</a></li>
          </ul>
        </div>
        <!-- <div class="footer-col">
          <h4>Page</h4>
          <ul>
            <li><a href="#">Review</a></li>
            <li><a href="#">Cars</a></li> 
            <li><a href="#">Features</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </div> -->
        <div class="footer-col">
          <h4>follow us</h4>
          <div class="social-links">
            <a href="#"><i class='bx bxl-twitter'></i></a>
            <a href="#"><i class='bx bxl-facebook'></i></a>
            <a href="#"><i class='bx bxl-instagram-alt'></i></a>
          </div>
        </div>
          <div class="footer-col">
            <h4>contact us</h4>
            <ul class="contact-us">
              <li><a href="#"><i class='bx bx-phone-call'></i></a>
                <p><a href="#">+1 234 567 8900</a></p>
              </li>
              <li><a href="#"><i class='bx bx-envelope'></i></a>
                <p><a href="#">gaadidekho@gmail.com</a></p>
              </li>
            </ul>

          </div>
        </div>
      </div>
   </footer>
 <div class="copyright">
  <p>&#169;GaadiDekho All Right Reversed</p>
 </div>
 <!-- <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
  
 <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.js "></script> -->
     <!--Start of Tawk.to Script-->
<script type="text/javascript">
  var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
  (function(){
  var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
  s1.async=true;
  s1.src='https://embed.tawk.to/637c92cbb0d6371309d06574/1gif9qqsk';
  s1.charset='UTF-8';
  s1.setAttribute('crossorigin','*');
  s0.parentNode.insertBefore(s1,s0);
  })();
  </script>
</body>
</html>