{% load static %}
<!DOCTYPE html>
<html lang="en"> 
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      Car_Website
    </title>
    <link rel="stylesheet" href="{% static 'LoginPage.css' %}">
    
    <style>
      body{
        background: url("{% static 'img/Back2.jpg' %}");
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        overflow: hidden;
    }
    </style>
</head>
<body>
  <div class="container">
    <nav>
      <ul id="sidemenu">
        <li><a href="#conatiner" >HOME</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="accounts/register">Register</a></li>
        <li><a href="accounts/login">Login</a></li>
      </ul>
      
    </nav>
  </div>
</body>
</html>