*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
}

@media only screen and (max-width: 1199px)
{
	.main_nav
	{
		margin-left: 150px;
	}
	.header_phone
	{
		margin-right: 0;
	}
}

body {
    background-image: url("img/Back2.jpg");
    
}


/* #abc1{
           
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height:0vh;
    width:100%;

} */
.logo
{
    height:100px;
    width:200px;
    margin-left: 70px;
   
}

.conatiner{
    width: 100%;
    height: 100%;
    background-image: url(Back2.jpg);
   
}
.form-box{
    width: 80%;
    max-width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background:#fff;
    padding: 50px 60px 70px;
    text-align: center; 

}

.form-box h1{
    font-size: 30px;
    margin-bottom: 60px;
    color: #3c00a0;
    position: relative;
}

.form-box h1::after{
    content: '';
    width: 85px;
    height: 4px;
    border-radius: 3px;
    background: #3c00a0;
    position: absolute;
    bottom: -12px;
    left: 50px;
    transform: translateX(55%);
}

.input-field{
    background: #eaeaea;
    margin: 15px 0;
    border-radius: 3px;
    display: flex;
    align-items: center;
    max-height: 65px;
    transition: max-height 0.5s;
    overflow: hidden;
}

input{
    width: 100%;
    background: transparent;
    border: 0;
    outline: 0;
    padding: 18px 15px;
}

.input-field i{
    margin-left: 15px;
    color: #999;

}

form p{
    text-align: left;
    font-size: 13px;

}

.btn-field{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.btn-field button{
    flex-basis: 48%;
    background: #3c00a0;
    color: #fff;
    height: 40px;
    border-radius: 20px;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: background 1s;
}

.input-group{
    height: 280px;
}

.btn-field button.disable{
    background-color: #eaeaea;
    color: #555;
}


nav{
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}


nav ul li{
    display: inline-block;
    list-style: none;
    margin: 20px 30px;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
   
}

nav ul li a::after
{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after
{
    width: 100%;
}


.logo{
    padding-left: 40px;
    height: 90px;
    width: 250px;
}